input {
    keyboard {
        xkb {}
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse { }

    trackpoint { }
}

output "DP-1" {
    mode "3840x2160@144"
    scale 1.5
    transform "normal"
    position x=2560 y=500
    focus-at-startup
}

output "DP-2" {
    mode "3840x2160@60.000"
    scale 1.5
    transform "normal"
    position x=0 y=510
}

output "HDMI-A-2" {
    mode "2560x1440@100.000"
    scale 1.2
    transform "90"
    position x=5120 y=0
    layout {
        default-column-width { proportion 1.0; }
    }
}

hotkey-overlay {
    skip-at-startup
}

output "HDMI-A-1" {
    mode "1920x1200@60.000"
    scale 1.0
    transform "normal"
    position x=5120 y=2134
    layout {
        default-column-width { proportion 1.0; }
    }
}
