/* 主窗口 */
#window {
  background-color: #23252b;
  border-radius: 12px;
  padding: 32px 40px;
}

/* 时钟 */
#clock {
  font-size: 32px;
  color: #a8ff60;
  margin-bottom: 16px;
  font-family: "JetBrains Mono", monospace;
}

/* 输入区域整体 */
#body {
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

/* 输入框效果 */
#input-field, #command-selector {
  border-radius: 6px;
  border: 1px solid #555;
  padding: 10px 12px;
  font-size: 18px;
  color: #ddd;
  background-color: #353745;
  margin-bottom: 16px;
}

/* 用户名标签左上角 */
label.username-label {
  font-size: 16px;
  color: #64c5ff;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-top: 0;
  padding: 0;
}

/* 按钮样式 */
button {
  min-width: 128px;
  font-size: 20px;
  background-color: #57b846;
  color: #fff;
  border-radius: 6px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 12px 0;
  font-weight: bold;
}
.suggested-action {
  border: 2px solid #64c5ff;
}

/* 错误 label */
label.error {
  color: #fa5959;
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

